.news-section {
    padding: 30px 0 155px;

    &-wrap {
        flex-wrap: wrap;
        gap: 60px 30px;
    }
}

.post-card {
    width: calc(50% - 15px);

    @media screen and (max-width: 992px) {
        border-radius: 15px;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    &-thumb {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        height: 0;
        padding-bottom: 56%;
        margin-bottom: 10px;
        background-color: $light;

        &-img {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            @include o-fit;

        }

        &-info {
            width: 100%;
            height: 100%;
            padding: 10px;
            gap: 10px;
            position: relative;
            z-index: 5;

            .info-elem {
                padding: 5px 10px;
                background-color: $white;
                border: 1px solid $black;
                border-radius: 5px;
            }
        }
    }

    &-txt {
        gap: 10px;

        .post-title {
            color: $accent;
            &:hover {
                color: $second;
            }
        }

        .excerpt {
            margin: 0;
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

        }

        
    }
}
.read-more-wrap {
    justify-content: flex-end;
}

.read-more {
    padding: 15px 0;

    .txt {
        font-family: "Comfortaa", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        text-transform: capitalize;
        color: $second;
    }
}
.blog-categories {
    padding: 0 0 30px;

    @media screen and (max-width: 992px) {
        padding: 0;
    }

    &-wrap {
        gap: 15px;
        flex-wrap: wrap;
        @media screen and (max-width: 992px) {
            gap: 10px;
        }
        @media screen and (max-width: 767px) {
            justify-content: flex-start;
        }
    }

    .category-elem {
        padding: 15px;
        border-radius: 15px;
        border: 1px solid $black;

        @media screen and (max-width: 992px) {
            padding: 10px;
            border-radius: 10px;
        }
        &:hover {
            background: $accent;
            border: 1px solid $accent;
            color: $white;
        }
        &.current {
            background: $accent;
            border: 1px solid $accent;
            color: $white;
            pointer-events: none;
        }
    }
}