.single-post-section {
    padding: 15px 0 75px;

    .single-post-title {
        // padding-bottom: 30px;
        h1 {
            font-size: 63px;
            line-height: 1;
            text-align: center;
            font-family: "Comfortaa", sans-serif;

            @media screen and (max-width: 992px) {
                font-size: 39px;
            }
        }
    }
}
._content-editor {
    h1 {
        font-size: 63px;
        line-height: 1;
        font-family: "Comfortaa", sans-serif;
        margin: 60px 0 15px;
        @media screen and (max-width: 992px) {
            font-size: 39px;
            margin: 30px 0 15px;
        }
    }
    
    h2 {
        font-size: 47px;
        line-height: 1;
        font-family: "Comfortaa", sans-serif;
        margin: 60px 0 15px;
        @media screen and (max-width: 992px) {
            font-size: 31px;
            margin: 30px 0 15px;

        }
    }
    
    h3 {
        font-size: 36px;
        line-height: 1.2;
        margin: 60px 0 15px;
        scroll-margin-top: 120px;
        @media screen and (max-width: 992px) {
            font-size: 25px;
            margin: 30px 0 15px;
            scroll-margin-top: 60px;
        }
    }
    
    h4 {
        font-size: 27px;
        line-height: 1.2;
        margin: 15px 0;
        @media screen and (max-width: 992px) {
            font-size: 20px;
            margin: 10px 0;
        }
    }
    
    h5 {
        font-size: 24px;
        line-height: 1.2;
        margin: 15px 0 ;
        @media screen and (max-width: 992px) {
            font-size: 18px;
            margin: 10px 0;
        }
    }
    h6 {
        font-size: 20px;
        line-height: 1.2;
        margin: 15px 0 ;
        @media screen and (max-width: 992px) {
            font-size: 16px;
            margin: 10px 0;
        }
    } 
    p{
        margin: 15px 0;
        @media screen and (max-width: 992px) {
            margin: 10px 0;
        }
    }
    img {
        display: block;
        width: 100%;
        height: auto;
        margin: 15px 0;
        border-radius: 30px;
        overflow: hidden;
        // max-height: 450px;
        // object-fit: contain;
        @media screen and (max-width: 992px) {
            border-radius: 15px;
        }
    }

    blockquote {
        margin: 15px 0;
        padding: 15px 0 15px 15px;
        border-left: 2px solid $second;
        color: $second;
        span {
            display: block;
            color: $second;
            font-size: 15px;
            margin-top: 5px;
        }
    }
    ul {
        @media screen and (max-width: 992px) {
            padding-left: 27px;
        }
        li {
            &::marker {
                color: $accent;
            }
        }
        // b {
        //     color: $accent; 
        // }
        // strong {
        //     color: $accent; 
        // }
    }
    // b {
    //     color: $accent; 
    // }
    // strong {
    //     color: $accent; 
    // }
    a {
        text-decoration: underline;
        font-weight: 700;
        color: $second;
        &:hover {
            color: $accent;
        }
    }
}
.soc-share-wrap {
    margin-top: 30px;
    background-color: $light;
    border-radius: 30px;
    padding: 30px;
    gap: 24px;
    @media screen and (max-width: 992px) {
        border-radius: 15px;
    }
    ._txt-l{
        text-align: center;
    }
}
.soc-share {
    gap: 30px;
    img {
        height: 60px;
        width: auto;
        @media screen and (max-width: 992px) {
            height: 48px;
        }
    }
}