.faq-info {
    padding: 45px 0 75px;

    @media screen and (max-width: 992px) {
        padding: 15px 0 30px;
    }
    .blur {
        // border: 1px solid red;

        &-1 {
            top: -31%;
    left: -18%;
        }

        &-2 {
            top: 11%;
            right: -18%;
        }

    }
    &-wrap {
        gap: 90px;

        @media screen and (max-width: 992px) {
            gap: 60px;
        }
        .accordeon-wrap {
            @media screen and (max-width: 767px) {
                flex-direction: column;
            }
        }
        .col {
            width: calc(50% - 15px);
            gap: 30px;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
}