.page-banner {
    padding: 40px 0 45px;

    @media screen and (max-width: 992px) {
        padding: 15px 0 30px;
    }

    &-wrap {
        position: relative;
        width: 100%;
        // height: 550px;
        border-radius: 30px;
        overflow: hidden;

        @media screen and (max-width: 992px) {
            border-radius: 15px;
        }

        .img-wrap {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                // background: linear-gradient(180deg, rgba(77, 77, 77, 0.2) 0%, rgba(77, 77, 77, 0.8) 100%);
                background: #4D4D4D80;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .txt-wrap {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            justify-content: center;
            padding: 60px;

            @media screen and (max-width: 992px) {
                padding: 30px 15px;
            }

            h1 {
                color: $white;
                text-align: center;

            }

            h4 {
                color: $white;
                text-align: center;

            }

            p {
                color: $white;
                text-align: center;
            }

            br {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            .bttn-wrap {
                justify-content: center;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    margin: 0 auto;
                }

                .bttn {
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }



        .post-txt-wrap {
            position: relative;
            z-index: 5;
            padding: 15px;
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }

        .bc-wrap {
            gap: 5px;

        }

        .breadcrumbs {
            display: flex;
        }

        .post-txt-elem {
            background: $white;
            border-radius: 15px;
            border: 1px solid $black;

            &.small {
                padding: 8px;
            }

            &.big {
                padding: 15px;
            }

            img {
                display: block;
            }
        }
    }

    &.high {
        .page-banner-wrap {
            height: 700px;

            @media screen and (max-width: 992px) {
                height: 500px;
            }
        }

        &.error-page {
            .txt-wrap {
                max-width: 565px;
                gap: 15px;

                h1 {
                    text-align: left;
                }

                h3 {
                    color: $white;
                }

                p {
                    text-align: left;
                }
            }

            .bttn-wrap {
                justify-content: flex-start;

                @media screen and (max-width: 767px) {
                    margin: 0;
                }

                // @media screen and (max-width: 767px) {
                //     flex-direction: column;
                //     justify-content: center;
                //     align-items: center;
                //     width: max-content;
                //     margin: 0 auto;
                // }

                // .bttn {
                //     @media screen and (max-width: 767px) {
                //         width: 100%;
                //     }
                // }
            }
        }
    }

    &.low {
        .page-banner-wrap {
            height: 400px;
            // @media screen and (max-width: 992px) {
            //     height: 500px;
            // }
        }

        &.news {
            padding: 40px 0 30px;

            .img-wrap {
                &:after {
                    background: #4d4d4d00;
                }
            }
        }

        &.contact {
            .soc-wrap {
                margin-top: 30px;

                .soc-elem img {
                    display: block;
                    height: 60px;
                    width: auto;
                    filter: brightness(0) invert(1);

                    @media screen and (max-width: 992px) {
                        height: 48px;
                    }
                }
            }

            .img-wrap {
                &:after {
                    background: #4d4d4d50;
                }
            }
        }

        &.privacy {
            .page-banner-wrap {
                @media screen and (max-width: 767px) {
                    flex-direction: column-reverse;
                    height: auto;
                    border-radius: 0;
                    overflow: visible;
                }
            }
            .txt-wrap {
                padding: 30px;
                justify-content: flex-end;
                @media screen and (max-width: 480px) {
                    padding: 15px 0;
                } 
            }
            .anchor-menu {
                gap: 15px;
                flex-wrap: wrap;
                @media screen and (max-width: 480px) {
                    flex-direction: column;
                }
                li {
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    } 
                }
                a {
                    display: block;
                    padding: 15px;
                    border-radius: 15px;
                    background-color: $white;
                    border: 1px solid $black;
                    font-family: "Comfortaa", sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 100%;
                    text-align: center;
                    text-transform: capitalize;
                    @media screen and (max-width: 480px) {
                        width: 100%;
                    }
                    &:hover {
                        background-color: $second;
                        color: $white;
                    }
                    &.active{
                        background-color: $second;
                        color: $white;
                    }

                }
            }
            .img-wrap {
                
                @media screen and (max-width: 767px) {
                    position: static;
                    height: 300px;
                    border-radius: 15px;
                    overflow: hidden;
                    &:after {
                        background: #4d4d4d00;
                    }
                }
            }

        }
    }
}

.bcElem {
    @media screen and (max-width: 480px) {
        flex-grow: 1;
        // over
    }
}

.breadcrumbs {
    width: 310px;

    @media screen and (max-width: 480px) {
        width: auto;
    }

    &>span {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    &>span>span {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        display: inline-block;

        @media screen and (max-width: 992px) {
            // font-size: 13px;
        }

        &.breadcrumb_last {
            opacity: .6;
            display: inline-block;
            /* или block/flex, если нужно */
            width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @media screen and (max-width: 480px) {
                // width: 150px;
                // max-width: 100%;
                // flex-grow: 1;
            }
        }
    }

    a {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.5;
        display: inline-block;

        @media screen and (max-width: 992px) {
            // font-size: 13px;
        }

        &:hover {
            color: $accent;
        }
    }

}