.advantages {
    padding: 75px 0 60px;

    .blur {
        // border: 1px solid red;

        &-1 {
            top: -43%;
            right: -13%;
        }

        &-2 {
            top: 48%;
            left: 4%;
        }


    }

    &-wrap {
        padding: 30px 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media screen and (max-width: 992px) {
            gap: 14px;
            padding: 15px 0 0;
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr 1fr;
        }

    }

    &-card {
        border-radius: 30px;
        background-color: $white;
        border: 1px solid $black;
        padding: 45px 28px 30px;
        gap: 12px;

        @media screen and (max-width: 992px) {
            border-radius: 15px;
            padding: 30px 5px 15px;
        }

        img {
            height: 60px;
            width: auto;

            @media screen and (max-width: 992px) {
                height: 48px;
            }
        }

        .desc {
            text-align: center;

            @media screen and (max-width: 767px) {
                font-size: 16px;
            }
        }
    }
}