.banner {
    padding: 150px 0;

    @media screen and (max-width: 1365px) {
        padding: 70px 0;
    }

    @media screen and (max-width: 992px) {
        padding: 15px 0 85px;
    }

    .blur {
        &-1 {
            top: -45%;
            left: -5%;
        }

        &-2 {
            top: -12%;
            right: -17%;
        }

        &-3 {
            top: 23%;
            left: 2%;
            // opacity: 0;
            // border: 1px solid red;
        }
    }

    .sqr {
        top: 55%;
        left: 2%;
    }

    &-wrap {
        gap: 30px;

        @media screen and (max-width: 767px) {
            flex-direction: column-reverse;
        }
    }

    .txt-wrap {
        width: calc(43% - 15px);
        align-items: flex-start;
        gap: 15px;

        // @media screen and (max-width: 992px) {
        //     padding: 0 20px;
        // }
        @media screen and (max-width: 767px) {
            width: 100%;
        }

        h1 {

            @media screen and (max-width: 1365px) {
                font-size: 65px;
            }

            @media screen and (max-width: 992px) {
                font-size: 49px;
            }
        }

        .bttn-wrap {
            @media screen and (max-width: 767px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: max-content;
                margin: 0 auto;
            }
            .bttn {
                @media screen and (max-width: 767px) {
                    width: 100%;
                }
            }
        }

    }

    .img-wrap {
        width: calc(57% - 15px);
        box-shadow: 0px 60px 120px 0px #4D4D4D26;
        border-radius: 30px;
        overflow: hidden;
        height: max-content;

        @media screen and (max-width: 992px) {
            border-radius: 15px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        img {
            @include o-fit;

        }
    }
}
.counters-section {
    padding: 15px 0 75px;

    @media screen and (max-width: 992px) {
        padding: 30px 0 60px;
    }
    // .blur {border: 1px solid red;
    //     &-1 {
    //         top: -45%;
    //         left: -5%;
    //     }

    //     &-2 {
    //         top: -12%;
    //         right: -17%;
    //     }

    //     &-3 {
    //         top: 23%;
    //         left: 2%;
    //         // opacity: 0;
    //         // border: 1px solid red;
    //     }
    // }
}
.counters {
    margin-top: auto;
    gap: 30px;
    width: 100%;
    position: relative;
    top: 35px;

    @media screen and (max-width: 992px) {
        gap: 16px;
    }

    &-elem {
        width: calc(50% - 15px);

        @media screen and (max-width: 767px) {
            width: calc(50% - 8px);
        }
    }

    .head {
        padding-bottom: 4px;
        margin-bottom: 4px;
        border-bottom: 2px solid $accent;
        font-weight: 700;
        font-size: 63px;
        line-height: 100%;
        color: $second;

        @media screen and (max-width: 1365px) {
            font-size: 48px;
        }

        @media screen and (max-width: 992px) {
            font-size: 32px;
        }

        @media screen and (max-width: 767px) {
            font-size: 39px;
        }

    }
    &.buyers {
        top: 0;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
        .head {
            margin-top: 4px;
            border-bottom: 2px solid $second;
    
        }
        .counters-elem {
            .icon {
                height: 60px;
                width: auto;
                @media screen and (max-width: 767px) {
                    height: 48px;
                }
            }
            ._txt-l {
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
}
