.img-txt-2 {
    padding: 75px 0;

    @media screen and (max-width: 992px) {
        padding: 60px 0;
    }
    .blur {
        // border: 1px solid red;
        &-1 {
            top: -20%;
    left: 2%;
        }

        &-2 {
            top: 20%;
    right: -17%;
        }

        &-3 {
            top: 50%;
            left: -20%;
        }
    }

    .benefits {
        gap: 30px;

        // @media screen and (max-width: 1499px) {
        //     gap: 3%;
        // }
        
        

        .txt-col {
            width: calc(43% - 15px);
            gap: 30px;
            @media screen and (max-width: 767px) {
                width: 100%;
                gap: 15px;
            }
        }

        .img-col {
            width: calc(57% - 15px);
            position: relative;
            height: max-content;
            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .img-wrap {
                padding-left: 20px;
                padding-bottom: 58px;
                @media screen and (max-width: 767px) {
                    padding-left: 0;
                    padding-bottom: 0;
                }
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }

            .list-norm {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 15px;

                li {
                    gap: 5px;
                    padding: 5px;
                    border-radius: 10px;
                    border: 1px solid #32CC9999;
                    background-color: $white;
                    box-shadow: 0px 15px 30px 0px #32CC994D;

                    &::before {
                        content: '';
                        display: block;
                        width: 24px;
                        height: 24px;
                        min-width: 24px;
                        background-image: url('img/icons/done.svg');
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .bttn-wrap {
            @media screen and (max-width: 767px) {
                justify-content: center;
            }
        }
        &.one {
            padding-top: 30px;
            @media screen and (max-width: 767px) {
                flex-direction: column-reverse;
                padding-top: 0;
            }
        }

        &.two {
            padding-top: 90px;
            flex-direction: row-reverse;
            @media screen and (max-width: 767px) {
                flex-direction: column-reverse;
                padding-top: 60px;
            }
            .img-col {
                .img-wrap {
                    padding-left: 0;
                    padding-right: 20px;
                    @media screen and (max-width: 767px) {
                        padding-right: 0;
                    }
                }
            }
            .list-norm {
                align-items: flex-end;
            }
        }
    }

}
.accordeon-wrap {
    gap: 30px;
    width: 100%;
    @media screen and (max-width: 767px) {
        gap: 15px;
    }
}
.accordeon {
    
    border-bottom: 1px solid $black;
    &-head {
        padding-bottom: 15px;
        position: relative;
        transition: all ease .3s;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            padding-bottom: 5px;
        }
        &::after {
            content: '';
            display: block;
            // position: absolute;
            // top: -2px;
            // left: auto;
            // right: 0;
            width: 24px;
            height: 24px;
            transform: rotate(0deg);
            background-image: url('img/icons/chevron-down2.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 1;
            transition: all ease .3s;
            filter: grayscale(100%) brightness(0.6);
            @media screen and (max-width: 1199px) {
                width: 18px;
            height: 18px;
            top: -1px;
            }
            
        }
        &.active {
            color: $second;
            &::after {
                opacity: 1;
                filter: grayscale(0) brightness(1);
                transition: all ease .3s;
                transform: rotate(180deg);
            }
        }
    }
    &-body {
        padding-bottom: 15px;
        @media screen and (max-width: 767px) {
            padding-bottom: 5px;
        }
    }
}