.img-txt-1 {
    padding: 0 0 75px;

    @media screen and (max-width: 992px) {
        padding: 0 0 60px;
    }

    .images-wrap {
        position: relative;

        // @media screen and (max-width: 767px) {
        //     flex-direction: column;
        //     gap: 32px;
        // }
        .image-main {
            display: block;
            width: 100%;
            height: auto;
        }

        .image-small {
            position: absolute;

            &.one {
                width: 23%;
                left: -18px;
                top: 14%;
            }

            &.two {
                width: 30%;
                right: -12px;
                top: 40%;
            }
        }
    }

    .txt-wrap {
        margin-top: -30px;

        @media screen and (max-width: 992px) {
            margin-top: 0;
        }

        p {
            margin: 0;
            text-align: center;
            line-height: 1.2;
        }
    }

    &.about {
        padding: 75px 0;

        @media screen and (max-width: 992px) {
            padding: 60px 0;
        }

        .blur {
            // border: 1px solid red;

            &-1 {
                top: 6%;
                left: 22%;
            }
        }

        .img-txt-1__container-m {
            gap: 30px;

            @media screen and (max-width: 767px) {
                flex-direction: column-reverse;
                gap: 0;
            }
        }

        .images-wrap {
            width: calc(50% - 15px);

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            .image-small {
                position: absolute;

                &.one {
                    width: 35%;
                    left: -28px;
                    top: -8%;
                }

                &.two {
                    width: 40%;
                    right: -20px;
                    top: 60%;
                }
            }
        }

        .txt-wrap {
            width: calc(50% - 15px);

            @media screen and (max-width: 767px) {
                width: 100%;
            }

            h2 {
                margin-bottom: 30px;
            }

            p {
                text-align: left;
                line-height: 1.5;
                max-width: 470px;
            }
        }
    }

}