.partners {
    padding: 75px 0;
    background: bottom left/35% no-repeat url('img/corner2.svg'), linear-gradient(180deg, rgba(247, 253, 251, 0) 0.07%, #32CC99 100%);
    @media screen and (max-width: 992px) {
        padding: 60px 0;
        background: bottom left/75% no-repeat url('img/corner2.svg'), linear-gradient(180deg, rgba(247, 253, 251, 0) 0.07%, #32CC99 100%);
    }

    &-wrap {
        gap: 30px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 60px;
        }

        .col {
            width: 50%;
            @media screen and (max-width: 767px) {
                width: 100%
            }
            &:first-child {
                padding-top: 90px;
                @media screen and (max-width: 992px) {
                    padding-top: 0
                }
                h4 {
                    margin-bottom: 15px;
                    @media screen and (max-width: 992px) {
                        margin-bottom: 30px;
                    }
                }
                .bttn-wrap {
                    @media screen and (max-width: 480px) {
                        justify-content: center;
                    }
                }
                
                .bttn-border {
                    background-color: transparent;
                    &:hover {
                        background-color: $second;
                    }
                }
            }
        }

        .logo-wrap {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            @media screen and (max-width: 992px) {
                gap: 16px;
            }
        }

        
    }
    .bttn-wrap {
        @media screen and (max-width: 767px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: max-content;
            margin: 0 auto;
        }
        .bttn {
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }

}
.logo-card {
    width: calc(50% - 15px);
    border-radius: 15px;
    // background-color: $white;
    border: 1px solid $black;
    padding:0 15px;
    height: 90px;
    @media screen and (max-width: 992px) {
        border-radius: 10px;
        padding: 3px 10px;
        width: calc(50% - 8px);
        height: 55px;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
}