.tabs {
	padding: 75px 0;

	@media screen and (max-width: 992px) {
		padding: 60px 0;
	}

	.blur {
		// border: 1px solid red;

		&-1 {
			top: 36%;
			left: 0%;
		}

		&-2 {
			top: -21%;
			right: -11%;
		}


	}

	&-switch {
		border-radius: 30px;
		background-color: $white;
		border: 2px solid $second;
		padding: 15px;
		gap: 20px;
		margin-bottom: 40px;

		@media screen and (max-width: 992px) {
			border-radius: 15px;
			padding: 5px;
			gap: 5px;
			margin-bottom: 15px;
		}

		&-elem {
			padding: 10px 20px;
			text-align: center;
			text-transform: capitalize;
			border-radius: 15px;
			font-family: "Comfortaa", sans-serif;
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			color: $second;
			transition: all .3s;
			cursor: pointer;

			@media screen and (max-width: 992px) {
				border-radius: 10px;
			}

			&.active {
				background-color: $second;
				color: $white;
				transition: all .3s;
			}
		}
	}

	&.buyers {
		.blur {
			// border: 1px solid red;

			&-1 {
				top: -16%;
				left: -1%;
			}

			&-2 {
				top: 26%;
				right: -13%;
			}

			&-3 {
				top: 80%;
				left: 1%;
			}

			&-4 {
				bottom: -85%;
				right: -13%;
			}

		}

		.tabs-content {
			max-width: 370px;
			margin: 0 auto;

			@media screen and (max-width: 992px) {
				max-width: 100%;
				width: 100%;
				margin: 0;
			}
		}

		.tabs-switch {
			@media screen and (max-width: 992px) {
				margin-bottom: 30px;
			}

		}

		.priceSwiper {
			overflow: visible
		}

		.swiper-nav {
			margin: 30px 0 0;

			@media screen and (min-width: 1200px) {
				display: none;
			}

			.price-pagination {
				position: static;
				width: max-content;
				display: flex;
				gap: 5px;
				margin: 0 15px;

				.swiper-pagination-bullet {
					margin: 0;
				}
			}
		}
	}

	&-card--info {
		border-radius: 30px;
		border: 1px solid $second;
		overflow: hidden;
		width: calc(50% - 15px);

		@media screen and (max-width: 992px) {
			border-radius: 15px;
		}

		@media screen and (max-width: 767px) {
			width: 100%;
		}

		.img-wrap {
			width: 100%;
			height: 0;
			padding-bottom: 74%;
			position: relative;
			overflow: hidden;

			@media screen and (max-width: 992px) {
				gap: 24px;
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				object-fit: cover;

			}


		}

		.txt-wrap {
			padding: 15px 30px 30px;

			@media screen and (max-width: 767px) {
				padding: 5px 15px 15px;
			}

			h4 {
				margin-bottom: 15px;
				color: $second;
			}

			.desc {
				margin: 0;
			}
		}
	}

	&-card--plan {
		border-radius: 30px;
		border: 1px solid $second;
		background-color: $white;
		overflow: hidden;
		// width: calc(50% - 15px);
		padding: 60px 30px 30px;
		gap: 15px;
		transition: all .3s;

		@media screen and (max-width: 992px) {
			border-radius: 15px;
			padding: 30px 15px 15px;
			gap: 10px;
		}

		// @media screen and (max-width: 767px) {
		// 	width: 100%;
		// }

		&.two {
			border: 1px solid $light;
			background-color: $light;
			transition: all .3s;
		}

		&:hover {
			border: 1px solid $white;
			background-color: $white;
			box-shadow: 0px 15px 30px 0px #4D4D4D26;
			transition: all .3s;
		}

		.price-wrap {
			text-align: center;

			// @media screen and (max-width: 767px) {
			// 	padding: 5px 15px 15px;
			// }
			.sum {
				font-weight: 700;
				font-size: 63px;
				line-height: 120%;
				letter-spacing: 0%;
				color: $second;

				@media screen and (max-width: 767px) {
					font-size: 39px;
				}
			}
		}

		.details {
			width: 100%;

			li {
				padding-left: 30px;
				background-image: url('img/icons/done2.svg');
				background-position: 0 2px;
				background-repeat: no-repeat;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.5;
				margin-bottom: 5px;

				@media screen and (max-width: 992px) {
					font-size: 13px;
					background-size: 20px;
					padding-left: 25px;
					background-position: 0 -1px;
				}

				&.disable {
					opacity: .3;
				}
			}
		}
	}


	&-content-elem--inner {
		gap: 30px;

		@media screen and (max-width: 767px) {
			gap: 15px;
			flex-direction: column;
		}
	}

	.bttn-wrap {
		width: 100%;
		justify-content: center;
		margin-top: 40px;

		@media screen and (max-width: 767px) {
			margin-top: 15px;
		}
	}
}

.tabs-content-elem {
	display: none;
}

.tabs-content-elem.is-visible {
	display: block;
}

//   .tabs-switch-elem.is-current {
// 	font-weight: bold;
//   }