.testimonials {
	padding: 65px 0 75px;
	@media screen and (max-width: 992px) {
		padding: 60px 0 ;
	}
    
	.catalog-wrap {
		// margin-top: 44px;
		position: relative;

		@media screen and (max-width: 992px) {
			// margin-top: 28px;
		}
	}

	.testimonialSwiper {
		overflow: visible;
		
	}
	.testimonial-slide {
        position: relative;
		height: auto;
		&-heading {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid $black;
			gap: 15px;
		}
		.img-wrap {
			width: 60px;
			height: 60px;
			min-width: 60px;
			border-radius: 15px;
			background-color: $light;
			padding: 10px;
			

			@media screen and (max-width: 992px) {
				width: 48px;
			height: 48px;
			min-width: 48px;
			border-radius: 10px;
			}

			// @media screen and (max-width: 480px) {
			// 	height: 84vw;
				
			// }

			img {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
        .txt-wrap {
			._txt {
				display: block;
			}
            .name {
                color: $accent;
                // @media screen and (max-width: 480px) {
                //     margin-bottom: 12px;
                // }
            }
            
        }

		

		&-content {
			p {
				margin: 0;
			}
		}
	}
	.swiper-nav {
		margin: 30px 0 0;
		.testimonial-pagination {
			position: static;
			width: max-content;
			display: flex;
			gap: 5px;
			margin: 0 15px;
			.swiper-pagination-bullet {
				margin: 0;
			}
		}
	}
}
