// @import "./scss/scrollCue.scss";
// @use "/scss/header.scss";
@import "./scss/style";
@import "./scss/header.scss";
// @import "./scss/mobmenu.scss";
// @import "./scss/homepage/banner.scss";
// @import "./scss/homepage/img-txt-1.scss";
// @import "./scss/homepage/img-txt-2.scss";
// @import "./scss/homepage/advs.scss";
// @import "./scss/homepage/testimonials.scss";
// @import "./scss/homepage/partners.scss";
// @import "./scss/homepage/tabs.scss";
// @import "./scss/about/about-banner.scss";
// @import "./scss/about/partners-slider.scss";
// @import "./scss/about/full-banner.scss";
// @import "./scss/about/img-txt-3.scss";
// @import "./scss/faq/page-banner.scss";
// @import "./scss/faq/faq.scss";
// @import "./scss/news/news-section.scss";
// @import "./scss/news/single-post-section.scss";
// @import "./scss/news/other-news.scss";
// @import "./scss/contacts.scss";
// @import "./scss/buyers.scss";
@import "./scss/foot.scss";

