.banner {
  height: 100dvh;
  &-wrap {
    position: relative;
    height: 100%;
    .col-img {
      background: #000;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      
    }
    .col-txt {
        position: relative;
        z-index: 10;
        padding: 26.6dvh 0 0;
    }
  }
}
