.banner {
  height: 100dvh;

  &-wrap {
    position: relative;
    height: 100%;

    .col-img {
      background: #000;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #17181C4D;
      }
    }

    .col-txt {
      height: 100%;
      position: relative;
      z-index: 10;
      padding: 26.6dvh 0 5.5dvh;

      .col__container {
        flex-wrap: wrap;
        align-items: stretch;
        height: 100%;
      }

      .col.main {
        width: 76.8%;
        align-items: flex-start;
      }

      .col.loc {
        width: 10.5%;

        .location-elem {
          margin-bottom: 32px;

          p {
            text-align: right;
          }
        }

        .head-wrap {
          margin-bottom: 8px;
          gap: 10px;
          justify-content: flex-end;
        }
      }

      .col.arr {
        width: 100%;
        margin-top: auto;
      }

      h1 {
        font-weight: 700;
        font-size: 100px;
        line-height: 1.2;
        margin-bottom: 11.1vh;
        @media screen and (max-width: 1499px) {
            font-size: 80px;
        }
        @media screen and (max-width: 992px) {
            font-size: 60px;
        }
        @media screen and (max-width: 767px) {
            font-size: 35px;
        }
      }

      h6 {
        margin-bottom: 24px;
      }

      .bttn-base {
        background-color: $white;
        color: $mediumblue;
        width: 375px;
        @media screen and (max-width: 767px) {
            width: auto;
        }
        &:hover {
          background-color: $mediumblue;
          color: $white;

          svg path {
            fill: $white;
          }
        }

        svg path {
          fill: $mediumblue;
        }
      }
      .bttn-border .arr-elem {
        border: 1px solid $lightblue50;
        width: 70px;
        height: 70px;
        @media screen and (max-width: 767px) {
            width: 48px;
        height: 48px;
        }
        svg {
          transform: rotate(90deg);
          width: 50%;
        }
        svg path {
          fill: $lightblue50;
        }
        &:hover {
          background-color: $lightblue50;
          svg path {
            fill: $darkblue;
          }
        }
      }
    }
  }
}
