.banner {
  height: 100dvh;

  &-wrap {
    position: relative;
    height: 100%;

    .col-img {
      background: #000;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      &:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
}
    }

    .col-txt {
      border: 1px solid red;
      height: 100%;
      position: relative;
      z-index: 10;
      padding: 26.6dvh 0 5.5dvh;

      .col__container {
        flex-wrap: wrap;
        align-items: stretch;
        height: 100%;
      }

      .col.main {
        width: 76.8%;
        align-items: flex-start;
      }

      .col.loc {
        width: 10.5%;

        .location-elem {
          margin-bottom: 32px;

          p {
            text-align: right;
          }
        }

        .head-wrap {
          margin-bottom: 8px;
          gap: 10px;
          justify-content: flex-end;
        }
      }

      .col.arr {
        width: 100%;
        margin-top: auto;
      }

      h1 {
        font-weight: 700;
        font-size: 100px;
        line-height: 1.2;
        margin-bottom: 11.1vh;
      }

      h6 {
        margin-bottom: 24px;
      }

      .bttn-base {
        background-color: $white;
        color: $mediumblue;
        width: 375px;

        &:hover {
          background-color: $mediumblue;
          color: $white;

          svg path {
            fill: $white;
          }
        }

        svg path {
          fill: $mediumblue;
        }
      }
      .bttn-border .arr-elem {
        border: 1px solid $lightblue50;
        svg {
          transform: rotate(90deg);
        }
        svg path {
          fill: $lightblue50;
        }
        &:hover {
          background-color: $lightblue50;
          svg path {
            fill: $darkblue;
          }
        }
      }
    }

  }
}