.blog {
    background: $lightblue40;

    .swiper-pagination-bullet {
        background: #ffffff;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background: #0a1948;
    }
    .swiper-button-disabled {
        opacity: 1;
        filter: brightness(0) invert(1);
    }
}

.blog-card {
    background: $white;

    .img-wrap {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        height: 0;
        padding-bottom: 70%;

        @media screen and (max-width: 1499px) {
            border-radius: 16px;
        }

        @media screen and (max-width: 767px) {
            border-radius: 8px;
        }

        img {
            position: absolute;
        }


    }

    .txt-wrap {
        margin-top: 32px;

        @media screen and (max-width: 767px) {
            margin-top: 16px;
        }

        h4 {
            margin: 0 0 16px;
            line-height: 1.5;
        }

        .date {
            display: block;
            margin-bottom: 8px;
        }

        .bttn-border {
            margin-left: auto;

            @media screen and (max-width: 767px) {
                right: 8px;
                bottom: 8px;
            }
        }
    }
}