.steps {
    padding: 75px 0;

    @media screen and (max-width: 992px) {
        padding: 60px 0;
    }

    .blur {
        // border: 1px solid red;

        &-1 {
            top: -33%;
            left: -7%;
        }

        &-2 {
            top: 14%;
            right: -10%;
        }
        // &-3 {
        //     top: 74%;
        //     left: -10%;
        // }

    }

    .steps-head {
        width: 100%;
        overflow: visible;
        margin-top: 15px;

    }

    .step-swiper {
        // width: max-content;
        width: 100%;
        // background-color: $light;
        border-radius: 15px;

        @media screen and (max-width: 1234px) {
            width: 100%;
            overflow: visible;
        }
    }

    .swiper-wrapper {
        background-color: $light;
        border-radius: 15px;
        width: max-content;
    }

    .step-slide {
        width: auto;
        opacity: .4;
        padding: 30px 15px 15px;
        transition: all .3s;
        width: 195px;
        height: auto;
        background-color: $light;
        border-radius: 15px;
        // overflow: hidden;
        cursor: pointer;

        @media screen and (max-width: 992px) {
            padding: 15px 10px 10px;
            width: 150px;
        }

        h3 {
            margin-bottom: 10px;
        }

        &.active {

            background-color: $second;
            opacity: 1;
            transition: all .3s;

            h3 {
                color: $white;
            }

            ._txt {
                color: $white;
            }
        }
    }

    .steps-content {
        margin-top: 30px;

        &-elem {
            border-radius: 30px;
            border: 1px solid $black;
            overflow: hidden;

            // min-height: 445px;
            @media screen and (max-width: 992px) {
                margin-top: 15px;
                border-radius: 15px;
                flex-direction: column;
            }

            .txt-wrap {
                width: 50%;
                padding: 60px 30px;
                gap: 15px;
                align-items: flex-start;

                @media screen and (max-width: 992px) {
                    width: 100%;
                    padding: 30px 15px;
                    gap: 5px;
                }

                .step-num {
                    background-color: $light;
                    padding: 5px 15px;
                    border-radius: 5px;

                    @media screen and (max-width: 992px) {
                        padding: 5px 10px;
                    }
                }

                p {
                    margin: 0;
                }
            }

            .img-wrap {
                width: 50%;
                background-color: $light;

                @media screen and (max-width: 992px) {
                    width: 100%;
                }

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

    }
}