.doc-card {
  .img-wrap {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    height: 0;
    padding-bottom: 114%;

    @media screen and (max-width: 1499px) {
      border-radius: 16px;
    }

    @media screen and (max-width: 767px) {
      border-radius: 8px;
    }

    img {
      position: absolute;
    }

    .bttn-border {
      position: absolute;
      right: 24px;
      bottom: 24px;
      z-index: 2;

      @media screen and (max-width: 767px) {
        right: 8px;
        bottom: 8px;
      }
    }
  }

  .txt-wrap {
    margin-top: 24px;

    @media screen and (max-width: 767px) {
      margin-top: 16px;
    }

    h4 {
      text-align: center;
    }

    .specialty {
      display: block;
      text-align: center;
    }
  }
}

// .docs-wrap {}

.doc-entry-elem {
  padding: 40px 0;
  border-bottom: 1px solid $lightgray;
  align-items: stretch;
  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 992px) {
    padding: 32px 0;
}

  &:first-child {
    padding: 0 0 40px;
  }
  &:last-child {
    padding: 40px 0 0;
    border-bottom: none;
  }
  .doc-entry-col {
    &.img {
      width: 34.5%;
      min-width: 34.5%;
      padding-right: 40px;
      @media screen and (max-width: 1279px) {
        padding-right: 16px;
      }
      @media screen and (max-width: 767px) {
        width: 50%;
        min-width: auto;
        padding-right: 8px;

      }
    }
    &.txt {
      flex-grow: 1;
      padding-top: 24px;
      @media screen and (max-width: 1279px) {
        width: 65.5%;
      }
      @media screen and (max-width: 767px) {
        width: 50%;
        padding-top: 0;

        padding-left: 8px;
      }
    }
    &.bttns {
      padding-left: 40px;
      // height: 100%;
      justify-content: flex-end;
      @media screen and (max-width: 1279px) {
        flex-direction: column;
        padding-left: 0;
        padding-top: 24px;
        width: 100%;
      }
      @media screen and (max-width: 992px) {
        padding-top: 16px;
    }

      .bttn-wrap {
        @media screen and (max-width: 1279px) {
          flex-direction: row;
          width: 100%;
          justify-content: space-between;
        }
      }
    }
  }

  .img-wrap {
    width: 100%;
    height: 0;
    padding-bottom: 114%;
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    @media screen and (max-width: 1279px) {
        border-radius: 16px;
    }
    @media screen and (max-width: 767px) {
        border-radius: 8px;
    }

    img {
      position: absolute;
    }
  }
  .txt-wrap {
    height: 100%;
    gap: 32px;
    @media screen and (max-width: 767px) {
        gap: 16px;
    }

  }
  .stats {
    gap: 24px;
    @media screen and (max-width: 767px) {
        gap: 8px;
    }

    .desc {
      font-size: 14px;
      @media screen and (max-width: 767px) {
        font-size: 10px;
    }
    }
  }
  h3 {
    color: $head;
    margin-bottom: 4px;
    @media screen and (max-width: 767px) {
        margin-bottom: 0;
    }

  }
  .doc-contacts {
    gap: 8px;
    @media screen and (max-width: 767px) {
        gap: 4px;
    }

    .contact-elem {
      gap: 8px;
      img {
        top: 0;
        @media screen and (max-width: 767px) {
            height: 16px;
            width: auto;
            top: 3px;
        }
      }
    }
    a.contact-elem {
      .desc {
        &:hover {
          color: $mediumblue;
        }
      }
    }
  }
  .bttn-wrap {
    gap: 40px;
    width: max-content;
    @media screen and (max-width: 992px) {
        gap: 10px;
    }
    
  }
  .note {
    @media screen and (max-width: 992px) {
      margin-bottom: 24px;
      text-align: left;
    }
  }
}
