.header {
	// padding: 48px 0 0;
	position: fixed;
	height: 80px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;

	@media screen and (max-width: 992px) {
		height: 50px;
	}

	.logo {
		// display: block;
		width: 253px;
		min-width: 253px;
		margin-right: 30px;

		@media screen and (max-width: 1199px) {
			width: 158px;
			min-width: 158px;
			margin-right: 20px;
		}

		@media screen and (max-width: 992px) {
			width: 130px;
			min-width: 130px;
			margin-right: 0;
		}
		& img {
			display: block;
			width: 100%;
			height: auto;

			// @media screen and (max-width: 1365px) {
			//     min-width: 20vw;
			//     width: 20vw;
			// }

			// @media screen and (max-width: 992px) {
			//     min-width: 170px;
			//     width: 170px;
			// }

			// @media screen and (max-width: 359px) {
			//     min-width: 140px;
			//     width: 140px;
			// }
		}
	}

	.header__col {
		height: 100%;
	}

	&-row {
		@media screen and (max-width: 992px) {
			// padding: 1.5rem 0;
		}

		&-1 {

			.header__col {
				height: 100%;

				&:first-child {
					width: 250px;

					@media screen and (max-width: 1199px) {
						width: 190px;
					}

					@media screen and (max-width: 374px) {
						width: 150px;
					}
				}

				&.menu-col {
					@media screen and (max-width: 992px) {
						position: relative;
						top: -200px;
						height: 0;
						width: 0;
					}
				}

				&:last-child {
					width: 250px;

					justify-content: flex-end;
					gap: 32px;

					@media screen and (max-width: 1499px) {
						width: auto;
					}

					a img {
						display: block;
					}

					span img {
						display: block;
					}

					// @media screen and (max-width: 992px) {
					//     justify-content: flex-end;
					// }
				}
			}
		}

		&-2 {
			padding: 20px 0;
			border-bottom: 1px solid #eeeff1;
			background: #ffffff;

			@media screen and (max-width: 1199px) {
				// display: none;
				// background: #e9e9e9;
			}

			@media screen and (max-width: 992px) {
				padding: 24px 0;
			}

			.header-row__container {
				@media screen and (max-width: 1599px) {
					flex-direction: column-reverse;
					gap: 15px;
				}

				@media screen and (max-width: 992px) {
					flex-direction: row;
				}
			}

			.header__col {
				height: 100%;

				&:first-child {
					gap: 70px;
					// width: 250px;

					@media screen and (max-width: 1899px) {
						gap: 3vw;
					}

					@media screen and (max-width: 1599px) {
						width: 100%;
						justify-content: space-between;
					}
				}

				&:last-child {
					flex-grow: 1;

					justify-content: flex-end;
					gap: 1.5rem;

					@media screen and (max-width: 1199px) {
						// justify-content: space-between;
					}

					@media screen and (max-width: 992px) {
						gap: 20px;
					}

					.header-search {
						padding: 0;
						margin: 0;
						position: relative;

						@media screen and (max-width: 1899px) {
							padding: 0 0 0 20px;
						}

						@media screen and (max-width: 767px) {
							flex-direction: row;
							width: 100%;
						}

						@media screen and (max-width: 480px) {
							position: relative;
						}

						._input {
							width: 390px;
							position: relative;
							height: 48px;

							@media screen and (max-width: 1899px) {
								width: 20vw;
								min-width: 200px;
							}

							@media screen and (max-width: 1599px) {
								width: 40vw;
							}

							// @media screen and (max-width: 480px) {
							// 	width: 100%;

							// 	z-index: 1;
							// 	height: 68px;
							// 	padding-left: 12px;
							// }
						}

						.bttn {
							position: absolute;
							z-index: 5;
							top: 4px;
							right: 4px;
							padding: 8px 12px;
							min-width: auto;
							height: 40px;

							@media screen and (max-width: 1499px) {
								min-width: 76px;
							}

							@media screen and (max-width: 767px) {
								width: auto;
							}

							@media screen and (max-width: 480px) {}
						}

						.txt {
							display: block;

							@media screen and (max-width: 1499px) {
								display: none;
							}
						}

						// .icon {
						// 	display: none;

						// 	@media screen and (max-width: 1499px) {
						// 		display: block;
						// 		margin: 0;
						// 	}
						// }
					}
				}
			}
		}
	}

	.icon-wrap {
		.num {
			color: #ffffff;
			background: #123456;
		}
	}

	.mob-icon {
		img {
			display: block;
		}
	}

	&.header-transparent {
		background: #17181c4d;
		transition: all ease .3s;

		.logo-default {
			display: none;
		}

		.logo-transparent {
			display: block;
		}

		.header-row-1 {
			background: transparent;
			border-bottom: 1px solid #ffffff4d;
		}

		.header-row-2 {
			background: transparent;
			border-bottom: none;

			img.icon {
				filter: invert(1);
			}

			.nav-1 ul .menu-item a {
				color: #eeeeee;
			}
		}

		.mob-icon {
			filter: invert(1);
		}
	}

	.nav {
		gap: 15px;
	}

	.menu {
		gap: 15px;

		.menu-item a {
			display: block;
			padding-left: 23px;
			position: relative;
			font-family: "Comfortaa", sans-serif;
			font-weight: 700;
			font-size: 18px;
			line-height: 100%;
			text-transform: capitalize;
			// color: $black;
			@media screen and (max-width: 1199px) {
				font-size: 15px;
			}

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -1px;
				left: 0;
				width: 18px;
				height: 18px;
				transform: rotate(90deg);
				background-image: url('img/icons/Vector2.svg');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 0;
				transition: all ease .3s;
			}
			&:hover {
				// color: $accent;
				&::before {
					opacity: 1;
					transform: rotate(0deg);
					transition: all ease .3s;
				}
			}
			&.active {
				// color: $accent;
				&::before {
					opacity: 1;
					transform: rotate(0deg);
					transition: all ease .3s;
	
				}
			}
			
		}
		.menu-item.menu-item-has-children {
			position: relative;
			padding: 20px 0;
		}
		.menu-item.menu-item-has-children > a {
			padding-left: 0;
			padding-right: 29px;
			
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: -2px;
				left: auto;
				right: 0;
				width: 24px;
				height: 24px;
				transform: rotate(180deg);
				background-image: url('img/icons/chevron-down.svg');
				background-position: center;
				background-size: contain;
				background-repeat: no-repeat;
				opacity: 1;
				transition: all ease .3s;
				filter: grayscale(100%) brightness(0.6);
				@media screen and (max-width: 1199px) {
					width: 18px;
				height: 18px;
				top: -1px;
				}
			}
			&:hover {
				// color: $accent;
				&::before {
					opacity: 1;
	
				}
			}
			&.active {
				// color: $accent;
				&::before {
					opacity: 1;
					transition: all ease .3s;
	
				}
			}
		}
		.menu-item.menu-item-has-children > a.active {
			
			&::before {
				
				transform: rotate(0deg);
				transition: all ease .3s;
				filter: grayscale(0) brightness(1);
			}
			
		}
		.sub-menu {
			position: absolute;
			left: 0;
			top: 55px;
			width: 300px;
			padding: 15px;
			// background: $white;
			// border: 1px solid $black;
			border-radius: 15px;
			gap: 15px;
			.menu-item a {
				// display: block;
				// padding-left: 23px;
				// position: relative;
				// font-family: "Comfortaa", sans-serif;
				// font-weight: 700;
				// font-size: 18px;
				// line-height: 100%;
				// text-transform: capitalize;
				// color: $black;
				
				&::before {
					// content: '';
					// display: block;
					// position: absolute;
					// top: -1px;
					// left: 0;
					// width: 18px;
					// height: 18px;
					background-image: url('img/icons/Vector.svg');
					// background-position: center;
					// background-size: contain;
					// background-repeat: no-repeat;
					// opacity: 0;
					// transition: all ease .3s;
				}
				&:hover {
					// color: $second;
					text-decoration: underline;
					&::before {
						opacity: 1;
						transition: all ease .3s;
		
					}
				}
				
			}
		}
	}

	

	// .menu-1-wrap {
	//     @media screen and (max-width: 992px) {
	//         display: none;
	//     }
	// }

	.nav-1 ul {
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 32px;

		@media screen and (max-width: 1899px) {
			gap: 7px 1.5vw;
			flex-wrap: wrap;
		}

		@media screen and (max-width: 1599px) {
			gap: 7px 2vw;
		}

		.menu-item a {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			letter-spacing: 0.01em;
			text-align: left;
			color: #123456;

			@media screen and (max-width: 599px) {
				min-width: 28vw;
				//    border: 1px solid red;
			}
		}

		& .link-1 {
			padding: 4px 8px;
			font-size: 16px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.01em;
			color: #fff;
			transition: 0.3s;
			border: 1px solid #ffffff4d;
			border-radius: 8px;
			gap: 8px;

			&:hover {
				border: 1px solid #123456;
				background-color: #123456;
				transition: 0.3s;
			}
		}
	}

	.menu-item-has-content {
		position: relative;
		display: flex;
		align-items: center;
		gap: 4px;

		.dropdown-menu-toggle {
			display: block;

			img {
				display: block;
			}
		}

		// .menu-drop-down {
		// 	position: absolute;
		// 	left: 0;
		// 	top: 50px;
		// 	padding: 24px 8px;
		// 	border-radius: 16px;
		// 	border: 1px solid #e3e5e8;
		// 	background: #ffffff;
		// 	z-index: 200;
		// 	width: 320px;
		// 	opacity: 0;
		// 	pointer-events: none;
		// 	transition: 0.3s;

		// 	@media screen and (max-width: 992px) {
		// 		position: fixed;
		// 		left: 0;
		// 		top: 84px;
		// 		width: 100%;
		// 		height: 100vh;
		// 		padding: 0 20px;
		// 		border-radius: 0;
		// 		border: none;
		// 	}

		// 	._link {
		// 		display: block;
		// 		width: 100%;
		// 		padding: 26px 0;
		// 		border-bottom: 1px solid #e3e5e8;
		// 	}

		// 	&-list {
		// 		@extend ul;

		// 		@media screen and (max-width: 992px) {
		// 			// margin: 16px 0;
		// 			padding: 16px 0 !important;
		// 		}

		// 		li {
		// 			display: block;
		// 		}

		// 		.link-2 {
		// 			display: block;
		// 			color: #123456;
		// 			font-size: 16px;
		// 			line-height: 1.5;
		// 			letter-spacing: 0.01em;
		// 			padding: 4px 12px;
		// 			border-radius: 8px;
		// 			transition: 0.3s;

		// 			@media screen and (max-width: 992px) {
		// 				font-size: 14px;
		// 				padding: 8px 0;
		// 			}

		// 			&:hover {
		// 				@media screen and (min-width: 993px) {
		// 					background: #f2f4fb;
		// 					color: #123456;
		// 					transition: 0.3s;
		// 				}
		// 			}
		// 		}
		// 	}

		// 	&.open {
		// 		transition: 0.3s;
		// 		opacity: 1;
		// 		pointer-events: all;
		// 	}
		// }
	}

	.nav-2 {
		@media screen and (max-width: 374px) {
			width: 100%;
		}
	}

	.nav-2 ul {
		list-style: none;
		margin: 0;
		padding: 0;
		gap: 2rem;
		justify-content: center;

		@media screen and (max-width: 767px) {
			gap: 0.75rem;
			align-items: flex-start;
		}

		@media screen and (max-width: 374px) {
			flex-direction: column;
			width: 100%;
		}

		a {
			gap: 1rem;

			@media screen and (max-width: 767px) {
				flex-direction: column;
				position: relative;
				min-width: 26vw;
			}

			@media screen and (max-width: 374px) {
				flex-direction: row;
				width: 100%;
			}
		}

		span {
			gap: 1rem;

			@media screen and (max-width: 767px) {
				flex-direction: column;
				position: relative;
				min-width: 26vw;
			}

			@media screen and (max-width: 374px) {
				flex-direction: row;
				width: 100%;
			}
		}

		.menu-icon {
			display: block;

			@media screen and (max-width: 767px) {
				padding: 12px 24px;
				// margin: 0 10px;
				background: #f2f4fb;
				border-radius: 0.5rem;
			}
		}

		.txt {
			color: #123456;
			text-align: center;

			@media screen and (max-width: 599px) {
				font-size: 14px;
			}
		}
	}

	.burger-wrap {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		// width: 50px;
		// height: 16px;
		// margin-left: 12px;
		cursor: pointer;

		@media screen and (max-width: 992px) {
			width: 40px;
			height: 12px;
			margin-left: 0px;
		}

		& .burger-line {
			// width: 100%;
			height: 2px;
			background: #123456;

			&:first-child {
				width: 100%;
			}

			&:last-child {
				width: 70%;
			}
		}
	}

	// .widget_polylang {
	//     width: 50px;
	//     height: 20px;
	//     position: relative;
	//     margin: 0 30px 0 20px;

	//     @media screen and (max-width: 992px) {
	//         margin: 0 20px 0 12px;
	//         width: 40px;
	//     }
	// }



	// .lang-menu-cont {
	// 	position: relative;
	// 	width: 100%;
	// 	height: 0;
	// 	opacity: 0;
	// 	pointer-events: none;
	// }

	// .current-lang {
	// 	padding: 6px 8px 4px;

	// 	transition: 0.3s;
	// 	border: 1px solid #ffffff4d;
	// 	border-radius: 8px;
	// 	gap: 4px;

	// 	&:hover {
	// 		border: 1px solid #123456;
	// 		background-color: #123456;
	// 		transition: 0.3s;
	// 	}

	// 	a {
	// 		font-size: 16px;
	// 		font-weight: 500;
	// 		line-height: 1.5;
	// 		letter-spacing: 0.01em;
	// 		color: #fff;
	// 	}
	// }

	.lang-menu-wrap {
		position: absolute;
		top: 0;
		right: 0;
		// background-color: rgb(120, 167, 167);
		padding: 8px 0 0;
	}

	.lang-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		background-color: #ffffff;
		border-radius: 8px;
		border: 1px solid #e3e5e8;
		padding: 16px 8px;
		// box-shadow: 0px -26px 70px 0px #63676e3d;

		a {
			display: block;
			padding: 4px 12px;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			letter-spacing: 0.01em;
			color: #123456;
			transition: 0.3s;
			border-radius: 8px;

			&:hover {
				color: #123456;
				background: #f2f4fb;
				transition: 0.3s;
			}
		}
	}

	// .current-lang:hover+.lang-menu-cont {
	//     opacity: 1;
	//     pointer-events: all;
	// }
	.lang-menu-cont.open {
		opacity: 1;
		pointer-events: all;
	}

	.header-delivery {
		gap: 0.5rem;
	}

	.bttn-catalog {
		@media screen and (max-width: 1199px) {
			// display: none;
			min-width: max-content;
		}
	}

	.menu-soc-wrap {
		border-top: 1px solid #e3e5e8;
		padding: 1rem 0;
		position: relative;
		left: -4px;

		.soc-link {
			padding: 0.5rem 0;
			gap: 0.5rem;
		}
	}

	

	//     & li {
	//         cursor: pointer;
	//     }

	//     & a {
	//         font-family: 'Ubuntu', sans-serif;
	//         font-style: normal;
	//         font-weight: 400;
	//         font-size: 16px;
	//         line-height: 19px;
	//         text-transform: uppercase;
	//         cursor: pointer;
	//     }

	//     & .lang-item a {
	//         color: #123456;
	//     }

	//     & .lang-item.current-lang a {
	//         color: $black;
	//         background: transparent;
	//         pointer-events: none;
	//     }

	//     & .lang-item.current-lang {
	//         position: relative;
	//         z-index: 10;

	//         & .list-open {

	//             position: absolute;
	//             display: block;
	//             width: 20px;
	//             height: 20px;
	//             top: -1px;
	//             right: 0;
	//             background-image: url('../img/icons/ArrowDown.svg');
	//             background-position: center;
	//             background-repeat: no-repeat;
	//             z-index: 5;

	//             @media screen and (max-width: 992px) {
	//                 width: 14px;
	//                 height: 14px;
	//                 background-size: 70%;
	//                 top: 3px;
	//             }
	//         }

	//     }
}
.header-fixed {
	transition: all ease .3s;
	// background: $white;
	box-shadow: 0px 15px 30px 0px rgba(50, 204, 153, 0.3019607843);
}
.lang-switch {
	// margin-left: 30px;
}

.lang-item {
	margin-right: 10px;
	padding: 3px 10px 4px 0;
	border-right: 1px solid #4d4d4d60;
	display: block;

	a {
		display: block;
		color: #4d4d4d60;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 15px;
		line-height: 1;

		&:hover {
			// color: $accent;
		}
	}

	&:last-child {
		margin-right: 0;
		padding: 3px 0 4px 0;
		border-right: none;
	}
}

.lang-item.current-lang a {
	// color: $black;
	background: transparent;
	pointer-events: none;
}

.lang-item.current-lang {
	position: relative;
	z-index: 10;
}