.promo-card {
  @media screen and (max-width: 1499px) {
    flex-direction: column;
  }

  @media screen and (max-width: 767px) {
    padding: 0;
    overflow: hidden;
  }

  .img-wrap {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    height: 0;
    padding-bottom: 46.2%;
    width: 55%;
    min-width: 55%;

    @media screen and (max-width: 1499px) {
      border-radius: 16px;
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      min-width: auto;
      padding-bottom: 82%;
    }

    @media screen and (max-width: 767px) {
      border-radius: 0;
    }

    img {
      position: absolute;
    }
  }

  .txt-wrap {
    margin-left: 32px;

    @media screen and (max-width: 1499px) {
      margin-left: 0px;
      margin-top: 24px;
      flex-grow: 1;
    }

    @media screen and (max-width: 767px) {
      margin: 0;
      padding: 16px 8px 12px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .sale-txt._h3 {
      margin-bottom: 4px;
    }

    .sale-txt._h4 {
      display: block;
    }

    h4 {
      margin: 0 0 24px;

      @media screen and (max-width: 767px) {
        margin: 0 0 8px;
      }
    }

    .specialty {
      display: block;
      text-align: center;
    }

    p {
      margin: 0 0 6px;
    }

    .bttn-wrap {
      gap: 8px;
      margin-top: auto;

      .bttn {
        margin-left: auto;
      }
    }
  }
}

.promo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  @media screen and (max-width: 1499px) {
    grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 1199px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 15px;
  }

  .promo-card {
    // @media screen and (max-width: 1499px) {
    //   flex-direction: row;
    // }
    .txt-wrap {
        
    
        // @media screen and (max-width: 1499px) {
        //     margin-left: 32px;
        // //   margin-top: 24px;
        // //   flex-grow: 1;
        // }
    }
    .img-wrap {
        @media screen and (max-width: 1499px) {
            width: 100%;
            min-width: auto;
            padding-bottom: 82%;
  
        }
    
        @media screen and (max-width: 992px) {
          width: 100%;
          min-width: auto;
          padding-bottom: 82%;
        }
    
        @media screen and (max-width: 767px) {
          border-radius: 0;
        }
    
        img {
          position: absolute;
        }
      }
  }
}
