.promo-card {
    .img-wrap {
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        height: 0;
        padding-bottom: 85%;
        width: 55%;
        min-width: 55%;
        img {
            position: absolute;
        }
    }
    .txt-wrap {
        margin-top: 24px;
        h4 {
            text-align: center;
        }
        .specialty {
            display: block;
            text-align: center;
        }
    }
}
