$white: #ffffff;
$black: #464953;
$accent: #0099cd;

$lightgray: #d6d8dd;

$lightblue20: #f4fbff;
$lightblue40: #ccedff;

// $blue: #00529A;
$mediumblue: #00529a;
$darkblue: #0a1948;

// $second: #32CC99;
$red: #ea0029;
// $gradient: linear-gradient(90deg, #71D5AA 0%, #0099CD 100%);

// @include o-fit;
@mixin o-fit {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// @include ul;

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  color: $black;
  font-size: 16px;
  line-height: 1.65;
  //   background-color: $white;
  word-wrap: break-word;

  @media screen and (max-width: 992px) {
    font-size: 12px;
  }
}

.container-all {
  position: relative;
  overflow: hidden;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
}

._h1,
h1,
._h2,
h2,
._h3,
h3,
._h4,
h4,
._h5,
h5,
._h6,
h6 {
  font-style: normal;
  margin: 0;
}

h1,
._h1 {
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;

  @media screen and (max-width: 992px) {
    font-size: 20px;
    line-height: 26px;
  }
}

h2,
._h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;

  @media screen and (max-width: 992px) {
    font-size: 18px;
    line-height: 22px;
  }
}

h3,
._h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h4,
._h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  @media screen and (max-width: 992px) {
    font-size: 14px;
    line-height: 18px;
  }
}

h5,
._h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @media screen and (max-width: 992px) {
    font-size: 12px;
    line-height: 16px;
  }
}

h6,
._h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  @media screen and (max-width: 992px) {
    font-size: 12px;
    line-height: 16px;
  }
}

._txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;

  @media screen and (max-width: 992px) {
    font-size: 12px;
  }

  &-medi {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    line-height: 1.625;

    @media screen and (max-width: 992px) {
      font-size: 10px;
    }
  }

  &-semi {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    line-height: 1.625;

    @media screen and (max-width: 992px) {
      font-size: 10px;
    }
  }
}

// ._txt-l {
//   font-size: 27px;
//   font-weight: 400;
//   line-height: 1.5;

//   @media screen and (max-width: 992px) {
//     font-size: 20px;
//   }
// }
// ._txt-s {
//   font-size: 15px;
//   font-weight: 400;
//   line-height: 1.5;
//   @media screen and (max-width: 992px) {
//     font-size: 13px;
//   }
// }

._input,
input[type="text"],
input[type="tel"],
input[type="email"] {
  display: block;
  height: 48px;
  padding: 15px;
  border-radius: 24px;
  border: 1px solid $lightgray;
  font-size: 15px;
  line-height: 1.5;
  outline: none;
  background-color: $white;
  color: $black;
  //   opacity: 0.6;
  transition: all ease 0.3s;

  @media screen and (max-width: 992px) {
    // font-size: 14px;
  }

  &:focus {
    // opacity: 1;
    border: 1px solid $mediumblue;
    transition: all ease 0.3s;
  }

  &:hover {
    border: 1px solid $mediumblue;
    transition: all ease 0.3s;
  }

  &:invalid {
    border: 1px solid $red;
    color: $red;
    transition: all ease 0.3s;
  }

  &:disabled {
    // filter: grayscale(1);
    opacity: 0.6;
  }

  //   &::placeholder {
  //     color: $second;
  //   }
}

// .radio-label {
//     gap: .5rem;
//     height: 52px;
//     padding: 14px 24px;
//     border-radius: 8px;
//     border: 1px solid #123456;
//     font-size: 16px;
//     line-height: 1.5;
//     letter-spacing: 0.01em;
//     outline: none;
//     color: #123456;
//     transition: all ease .3s;

//     input {
//         display: none;
//     }

//     .checkmark {
//         display: block;
//         height: 16px;
//         width: 16px;
//         border-radius: 50%;
//         min-width: 16px;
//         border: 1px solid #123456;
//     }

//     .txt {
//         position: relative;
//         top: 1px;
//         font-size: 16px;
//         font-weight: 600;
//         margin: 0 !important;
//         // @include txt;
//     }

//     &.active {
//         border: 1px solid #123456;
//         background: #F2F4FB;
//         ;
//     }
// }

// .radio-label input:checked~.checkmark {
//     border: 1px solid #123456;
//     background-color: #123456;
// }

textarea,
._textarea {
  display: block;
  height: 145px;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid $lightgray;
  //   font-size: 15px;
  line-height: 1.625;
  outline: none;
  background-color: $white;
  //   color: $second;
  //   opacity: 0.6;
  transition: all ease 0.3s;

  @media screen and (max-width: 992px) {
    // font-size: 14px;
  }

  &:focus {
    border: 1px solid $mediumblue;
    transition: all ease 0.3s;
  }

  &:hover {
    border: 1px solid $mediumblue;
    transition: all ease 0.3s;
  }

  &:invalid {
    border: 1px solid $red;
    transition: all ease 0.3s;
  }

  &:disabled {
    opacity: 0.6;
  }
}

// ._check-elem {
//     display: flex;
//     gap: .5rem;

//     @media screen and (max-width: 599px) {
//         margin-bottom: 4px;
//     }

//     .checkmark {
//         display: block;
//         height: 24px;
//         width: 24px;
//         min-width: 24px;
//         border: 1px solid #123456;
//         border-radius: 4px;

//         @media screen and (max-width: 599px) {
//             height: 16px;
//             width: 16px;
//             min-width: 16px;
//         }
//     }

//     .txt {
//         display: block;
//         // margin-top: 2px;
//         font-size: 14px;
//         line-height: 1;
//         color: $black;
//         // @include txt;

//         @media screen and (max-width: 992px) {
//             font-size: 12px;
//             line-height: 1rem;
//         }

//         a {
//             font-size: 16px;
//             font-weight: 600;
//             color: #123456;
//             text-decoration: underline;

//             @media screen and (max-width: 1365px) {
//                 font-size: 14px;
//             }
//         }
//     }
// }

// ._check-elem input:checked~.checkmark {
//     background-color: #123456;
//     background-position: center;
//     background-size: 80%;
//     background-repeat: no-repeat;
//     background-image: url('../img/icons/checked.svg');
// }

// ._file {
//     gap: 12px;
//     margin-top: auto;
//     border-color: #123456;
//     cursor: pointer;

//     input[type="file"] {
//         display: none;
//     }

//     .txt {
//         margin-bottom: 0 !important;
//         font-weight: 600;
//         color: #123456 !important;
//     }
// }

// ._link {
//     display: block;
//     position: relative;
//     font-size: 16px;
//     font-weight: 600;
//     line-height: 1.5;
//     letter-spacing: 0.01em;
//     padding-right: 2rem;
//     transition: all ease .3s;
//     width: max-content;
//     cursor: pointer;

//     @media screen and (max-width: 992px) {
//         font-size: 14px;
//         color: #123456;
//     }

//     &::after {
//         content: '';
//         display: block;

//         position: absolute;
//         top: 50%;
//         transform: translateY(-50%);
//         right: 0;
//         width: 24px;
//         height: 24px;
//         background-position: center;
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-image: url('@img/icons/ch-right.svg');
//         transition: all ease .3s;

//         @media screen and (max-width: 992px) {
//             background-image: url('@img/icons/ch-right-act.svg');
//         }
//     }

//     &:hover {
//         color: #123456;
//     }

//     &:hover::after {
//         background-image: url('@img/icons/ch-right-act.svg');
//         transition: all ease .3s;
//         right: -5px;
//     }

//     &-accord {
//         &::after {
//             content: '';
//             display: block;
//             position: absolute;
//             top: 0;
//             right: 0;
//             width: 24px;
//             height: 24px;
//             background-position: center;
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-image: url('@img/icons/ch-right.svg');
//             transition: all ease .3s;
//             transform: rotate(90deg);

//             @media screen and (max-width: 767px) {
//                 top: -1px;
//             }
//         }

//         &:hover::after {
//             background-image: url('@img/icons/ch-right-act.svg');
//             transition: all ease .3s;
//             right: 0px;
//         }

//         &.open::after {
//             transform: rotate(-90deg);
//         }
//     }

//     &-back {
//         display: block;
//         position: relative;
//         font-size: 16px;
//         font-weight: 600;
//         line-height: 1.5;
//         letter-spacing: 0.01em;
//         padding-left: 32px;
//         transition: all ease .3s;
//         width: max-content;
//         cursor: pointer;

//         @media screen and (max-width: 992px) {
//             font-size: 14px;
//             color: #123456;
//         }

//         &::after {
//             content: '';
//             display: block;

//             position: absolute;
//             top: 50%;
//             transform: translateY(-50%);
//             left: 0;
//             width: 24px;
//             height: 24px;
//             background-position: center;
//             background-size: contain;
//             background-repeat: no-repeat;
//             background-image: url('@img/icons/ch-left.svg');
//             transition: all ease .3s;

//             @media screen and (max-width: 992px) {
//                 background-image: url('@img/icons/ch-left-act.svg');
//             }
//         }

//         &:hover {
//             color: #123456;
//         }

//         &:hover::after {
//             background-image: url('@img/icons/ch-left-act.svg');
//             transition: all ease .3s;
//             left: -5px;
//         }
//     }
// }

[class*="__container"] {
  width: 100%;
  padding: 0 15px;
  max-width: 1560px;
  margin: 0 auto;
  //   position: relative;
  //   z-index: 5;
  // @media screen and (max-width: 1365px) {
  //     padding: 0 40px;
  // }

  // @media screen and (max-width: 1199px) {
  //     padding: 0 20px;
  // }

  // @media screen and (max-width: 992px) {
  //     padding: 0 20px;
  // }
}

// [class*="__container-m"] {
//   width: 100%;
//   padding: 0 15px;
//   max-width: 1200px;
//   margin: 0 auto;
//   position: relative;
//   z-index: 5;
// }
// [class*="__container-m-2"] {
//   width: 100%;
//   padding: 0 15px;
//   max-width: 1000px;
//   margin: 0 auto;
//   position: relative;
//   z-index: 5;
// }
// [class*="__container-s"] {
//   width: 100%;
//   padding: 0 15px;
//   max-width: 800px;
//   margin: 0 auto;
//   position: relative;
//   z-index: 5;
// }
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;

  // font-weight: 700;
  &:hover {
    color: $mediumblue;
    transition: all 0.3s;
  }
}

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all ease 0.3s;
  //   border-radius: 15px;
  //   width: max-content;
  //   padding: 15px 30px;
  //   height: 48px;
  //   font-weight: 700;
  //   font-size: 18px;
  line-height: 100%;

  svg {
    display: block;
  }

  &-base {
    // background: $gradient;
    color: $white;
    background-size: 200% 200%;
    background-position: 100% 50%;
    transition: background-position 0.5s;
    border: none;

    // svg path {
    //     stroke: #ffffff;
    // }

    &:hover {
      color: #ffffff;
      background-position: 0% 50%;
      transition: background-position 0.5s;
    }
  }

  &-arrow {
    gap: 16px;
    transition: all ease 0.3s;

    @media screen and (max-width: 992px) {
      gap: 8px;
    }

    .arr-elem {
      background-color: $darkblue;

      svg {
        @media screen and (max-width: 992px) {
          width: 50%;
        }
      }
    }
    ._txt-semi {
      color: $black;
    }
    svg path {
      fill: #ffffff;
      transition: all ease 0.3s;
    }

    &:hover {
      > .arr-elem {
      background-color: $mediumblue;
    }
    }

  }

  // @media screen and (max-width: 992px) {
  //     padding: 12px 28px;
  // }

  // & svg {
  //   display: block;
  //   margin-left: 8px;
  //   position: relative;
  //   z-index: 10;
  // }

  // .txt {
  //   &-medi {
  //     font-size: 16px;
  //     line-height: 20px;
  //     font-weight: 500;
  //   }

  //   &-semi {
  //     font-size: 16px;
  //     line-height: 20px;
  //     font-weight: 600;
  //   }
  // }

  // &--full {
  //     width: 100%;
  // }

  // &--long {
  //     padding: 5px 45px;

  //     @media screen and (max-width: 599px) {
  //         padding: 5px 10px;
  //     }
  // }

  // &-grey {
  //     border-color: #E3E5E8;
  //     color: #123456;
  //     background-color: #ffffff;

  //     & img {
  //         filter: brightness(0);
  //         transition: all ease 0.3s;

  //     }

  //     &:hover {

  //         color: #123456;
  //         transition: all ease 0.3s;
  //         background-color: #F2F4FB;
  //         border-color: #123456;

  //         & img {
  //             filter: brightness(1);
  //             transition: all ease 0.3s;

  //         }

  //     }

  //     &.active {
  //         color: #123456;
  //         transition: all ease 0.3s;
  //         background-color: #F2F4FB;
  //         border-color: #123456;

  //         & img {
  //             filter: brightness(1);
  //             transition: all ease 0.3s;

  //         }

  //     }

  // }

  &-inline {
    border: none;
    padding: 0;
    min-width: auto;
    height: auto;
    border-radius: 0;

    .txt {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.01em;
      position: relative;
      color: #123456;

      &::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #17181c;

        transition: all ease 0.5s;
      }

      &:hover {
        color: #123456;
        transition: all ease 0.5s;
      }
    }

    svg path {
      stroke: #123456;
      transition: all ease 0.5s;
    }
  }

  // &._md {
  //     min-width: 176px;
  //     height: 45px;
  //     padding: 0 10px 0 25px;

  //     @media screen and (max-width: 992px) {
  //         height: 35px;
  //         padding: 0 10px 0 15px;
  //         min-width: 135px;
  //     }

  //     & .txt {
  //         font-size: 16px;
  //         line-height: 18px;

  //         @media screen and (max-width: 992px) {
  //             font-size: 14px;
  //             line-height: 16px;
  //         }
  //     }

  //     & img {
  //         height: 25px;
  //         width: auto;

  //         @media screen and (max-width: 992px) {
  //             height: 17px;
  //         }
  //     }
  // }

  // &._sm {
  //     min-width: 168px;
  //     height: 35px;
  //     padding: 0 10px 0 14px;

  //     & .txt {
  //         font-size: 12px;
  //         line-height: 14px;
  //     }

  //     & img {
  //         height: 17px;
  //         width: auto;
  //     }
  // }

  // &-primary--white {

  //     background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 50%, #bdbdbd 100%);
  //     color: #123456;
  //     background-size: 200% 200%;
  //     background-position: 0% 50%;
  //     transition: background-position .5s;
  //     text-transform: uppercase;

  //     @media screen and (max-width: 992px) {
  //         background: linear-gradient(90deg, #21439B 0%, #21439B 50%, #4286F4 100%);
  //         color: #ffffff;
  //     }

  //     svg path {
  //         stroke: #123456;

  //         @media screen and (max-width: 992px) {
  //             stroke: #ffffff;
  //         }
  //     }

  //     &:hover {
  //         background-position: 100% 50%;
  //         transition: background-position .5s;

  //         @media screen and (max-width: 992px) {
  //             background-position: 0% 50%;
  //         }
  //     }
  // }
}

.arr-elem {
  width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
transition: .3s;
  @media screen and (max-width: 992px) {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  svg {
    path {
      transition: .3s;
    }
  }
}

// .bttn-white:hover::after {
//     opacity: 1;
//     transition: all ease 0.5s;
// }

// .bttn-white:hover svg path {
//     stroke: #ffffff;
//     transition: all ease 0.5s;
// }

// .bttn-inline:hover svg path {
//     stroke: #123456;
//     transition: all ease 0.5s;
// }

// .bttn-inline:hover .txt::after {
//     width: 0;
//     transition: all ease 0.5s;
// }

// ._show {
//     display: block !important;
// }

._hide {
  display: none !important;
}

._mob {
  display: none !important;

  @media screen and (max-width: 992px) {
    display: block !important;
  }
}

._mob-f {
  display: none !important;

  @media screen and (max-width: 992px) {
    display: flex !important;
  }
}

._desk {
  display: none !important;

  @media screen and (min-width: 993px) {
    display: block !important;
  }
}

._desk-f {
  display: none !important;

  @media screen and (min-width: 993px) {
    display: flex !important;
  }
}

._flex {
  display: flex;

  &-x {
    display: flex;
    align-items: center;
  }

  &-cntr {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-btwn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-col {
    display: flex;
    flex-direction: column;

    &-cntr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

._invert {
  filter: invert(1);
}

._accent {
  //   color: $accent;
  font-family: inherit;
}

._white {
  color: $white;
}

._d-blue {
  color: $darkblue;
}
._blue {
  color: $mediumblue;
}
.sw-arr {
  width: 40px;
  height: 40px;
  // position: absolute;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transition: all ease 0.3s;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 5px;

  //   border: 1px solid $second;
  &:hover {
    opacity: 1;
    transition: all ease 0.3s;
  }

  &.swiper-button-disabled {
    opacity: 0.4;
    filter: grayscale(1);
  }

  &-prev {
    background-image: url("img/icons/double-arr-left.svg");
  }

  &-next {
    background-image: url("img/icons/double-arr-right.svg");
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background: $black;
  border-radius: 4px;
  margin: 0 0;
}

.swiper-pagination-bullet-active {
  //   background: $second;
}

._icon-txt {
  gap: 5px;
  position: relative;

  .icon {
    display: block;
    height: 20px;
    width: auto;
  }

  // ._txt {
  //     font-size: 14px;
  //     font-weight: 600;
  //     line-height: 21px;
  //     letter-spacing: 0.01em;
  //     text-align: left;
  //     color: #ffffff;
  //     display: block;
  //     width: max-content;
  // }
}

.header-space {
  height: 80px;

  @media screen and (max-width: 992px) {
    height: 50px;
  }
}

.card {
  border-radius: 32px;
  background-color: $lightblue20;
  padding: 24px;
  //   @media screen and (max-width: 992px) {
  //     border-radius: 15px;
  //     padding: 15px;
  //     background-size: 33%;
  //   }
}

.ul-norm {
  list-style: none;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.o-fit {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pt120 {
  padding-top: 120px;

  @media screen and (max-width: 992px) {
    padding-top: 60px;
  }

}

.pb60 {
  padding-bottom: 60px;

  @media screen and (max-width: 992px) {
    padding-bottom: 30px;
  }

}

.pt60 {
  padding-top: 60px;

  @media screen and (max-width: 992px) {
    padding-top: 30px;
  }

}

img {
  vertical-align: top;
}

.section-head {
  flex-wrap: wrap;
  gap: 20px;
}

.bttn-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  // @media screen and (max-width: 767px) {
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     width: max-content;
  //     margin: 0 auto;
  // }
  // .bttn {
  //     @media screen and (max-width: 767px) {
  //         width: 100%;
  //     }
  // }
}

.window-overlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  left: 0;
  top: 0;
  background: #0a1948b2;
  z-index: 150;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.window-overlay.open {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s;
}

// .section-head {
//   h2 {
//     margin-bottom: 30px;
//     text-align: center;
//     @media screen and (max-width: 992px) {
//       margin-bottom: 15px;
//     }
//   }
//   h3 {
//     margin-bottom: 30px;
//     text-align: center;
//     @media screen and (max-width: 992px) {
//       margin-bottom: 15px;
//     }
//   }
//   p {
//     text-align: center;
//     max-width: 900px;
//   }
//   ._h5 {
//     margin-bottom: 30px;
//     @media screen and (max-width: 992px) {
//       margin-bottom: 15px;
//     }
//   }
// }