.tests-grid {
    display: grid;
    grid-template-columns: 34% auto;
    grid-gap: 40px;

    @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    @media screen and (max-width: 992px) {
        gap: 0;
    }

    .tests-img {
        grid-area: 1/1/3/2;

        .img-wrap {
            height: 100%;
            border-radius: 32px;
            overflow: hidden;
            max-width: 700px;

            @media screen and (max-width: 992px) {
                border-radius: 16px;
            }

            @media screen and (max-width: 767px) {
                border-radius: 8px;
            }
        }

        p {
            margin: 24px 0 0;
        }
    }

    .tests-head {
        @media screen and (max-width: 1280px) {
            order: -1;
        }

        .section-head {
            flex-wrap: wrap;

            ._h1 {
                width: 100%;
                margin-bottom: 20px;

                @media screen and (max-width: 992px) {
                    width: auto;
                    margin-bottom: 0;
                }
            }

            p {
                margin: 0;
                width: 70%;
            }
        }
    }

    .tests-slider {
        min-width: 0;

        @media screen and (max-width: 992px) {
            margin-top: 40px;
        }

        .test-card {
            @media screen and (max-width: 992px) {
                padding: 16px 8px;
                display: flex;
                flex-direction: column;
            }
        }

        .icon-wrap {
            width: 80px;
            height: 80px;
            background: #E0F4FF;
            border-radius: 50%;
            margin: 0 auto 32px;

            @media screen and (max-width: 992px) {
                width: 40px;
                height: 40px;
                margin: 0 auto 20px;
            }

            img {
                max-width: 60%;
                max-height: 60%;
            }
        }

        h6 {
            margin-bottom: 4px;
        }

        .cod {
            display: block;
            margin-bottom: 32px;
            color: #9094A2;
            @media screen and (max-width: 992px) {
                margin-bottom: 4px;
            }
        }

        .old-price {
            display: block;
        }
        .bttn-wrap {
            margin-top: auto;
        }
    }
}