.about-banner {
    padding: 40px 0 75px;

    @media screen and (max-width: 992px) {
        padding: 15px 0 60px;
    }

    .blur {
        // border: 1px solid red;

        &-1 {
            top: -45%;
            left: -5%;
        }

        &-2 {
            top: -12%;
            right: -25%;
        }

        &-3 {
            top: 49%;
            right: 2%;
        }
    }

    &-wrap {
        gap: 30px;
        align-items: center;

        @media screen and (max-width: 1365px) {
            align-items: flex-start;
        }

        @media screen and (max-width: 992px) {
            gap: 35px;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    .image-col {
        width: calc(42% - 15px);
        border-radius: 30px;
        overflow: hidden;

        @media screen and (max-width: 992px) {
            border-radius: 15px;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 366px;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
            max-width: none;
        }
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .txt-col {
        width: calc(58% - 15px);

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .subheading {
            display: inline-block;
            width: max-content;
            max-width: 100%;
            border-radius: 15px;
            background: $light;
            padding: 5px 10px;
            margin-bottom: 5px;
        }

        h1 {
            font-family: "Open Sans", sans-serif;
            margin-bottom: 30px;
        }

        .txt-wrap {
            gap: 30px;

            @media screen and (max-width: 480px) {
                flex-direction: column;
            }

            &-elem {
                width: calc(50% - 15px);

                @media screen and (max-width: 480px) {
                    width: 100%;
                }

                img {
                    margin-bottom: 5px;

                    @media screen and (max-width: 992px) {
                        height: 48px;
                        width: auto;
                    }
                }

                p {
                    margin: 0;
                }
            }
        }
        &.buyers {
            h1 {
                font-family: "Open Sans", sans-serif;
                margin-bottom: 15px;
            }
            p {
                margin: 0 0 15px;
            }
            .bttn-wrap {
                margin-top: 45px;
                @media screen and (max-width: 767px) {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: max-content;
                        margin: 0 auto;
                    
                }
                .bttn {
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    
                }
                   
                }
            }
        }
    }
}