.full-banner {
    padding: 75px 0 150px;

    @media screen and (max-width: 992px) {
        padding: 60px 0 120px;
    }

    &-wrap {
        position: relative;
        width: 100%;
        height: 550px;
        border-radius: 30px;
        overflow: hidden;
        @media screen and (max-width: 992px) {
            border-radius: 15px;
        }

        .img-wrap {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(77, 77, 77, 0.2) 0%, rgba(77, 77, 77, 0.8) 100%);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .txt-wrap {
            position: relative;
            z-index: 5;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            padding: 60px;

            @media screen and (max-width: 992px) {
                padding: 30px 15px;
            }
            h3 {
                color: $white;
                text-align: center;

            }
            h4 {
                color: $white;
                text-align: center;

            }

            p {
                color: $white;
                text-align: center;
            }

            br {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            .bttn-wrap {
                justify-content: center;

                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: max-content;
                    margin: 0 auto;
                }

                .bttn {
                    @media screen and (max-width: 767px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.about {
        .blur {
            // border: 1px solid red;

            &-1 {
                bottom: -36%;
                left: -13%;
            }

            &-2 {
                top: 12%;
                right: -25%;
            }


        }
        .txt-wrap {
            gap: 15px;
            p {
                margin: 0;
            }
        }
    }
    &.buyers {
        .blur {
            // border: 1px solid red;

            &-1 {
                bottom: -36%;
                left: -13%;
            }

            &-2 {
                top: 12%;
                right: -25%;
            }


        }
        .txt-wrap {
            gap: 15px;
            p {
                margin: 0;
            }
        }
        .full-banner-wrap {
            @media screen and (max-width: 480px) {
                height: 475px;
            }
        }
    }
    &.faq {
        .blur {
            // border: 1px solid red;

            &-1 {
                bottom: -36%;
                left: -13%;
            }

            &-2 {
                top: 12%;
                right: -25%;
            }
        }
    }
}