.img-txt-3 {
    padding: 75px 0;

    @media screen and (max-width: 992px) {
        padding: 60px 0;
    }
    .blur {
        &-1 {
            bottom: -88%;
    left: -2%;
        }

        &-2 {
            top: 8%;
    right: -16%;
        }
    }

    .sqr {
        // border: 1px solid red;
        top: 40%;
        left: 0%;
    }
    &__container-m {
        gap: 30px;
        @media screen and (max-width: 767px) {
            flex-direction: column;
            gap: 15px;
        }
    }

    .image-col {
        width: calc(33% - 15px);
        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 366px;
        }

        .image-wrap {
            position: relative;
            min-height: 16vw;
            border-radius: 15px;
            overflow: hidden;
            height: max-content;
            background: $light;

            .image-main {
                display: block;
                width: 100%;
                height: auto;
                position: relative;
                z-index: 0;
            }

            .person {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 5px;

                .txt-elem {
                    background: $white;
                    border-radius: 10px;
                    padding: 15px;

                }

                .txt {
                    font-family: "Comfortaa", sans-serif;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 100%;
                    text-transform: capitalize;
                    color: $accent;
                }
            }
        }
    }

    .txt-col {
        width: calc(67% - 15px);
        justify-content: flex-end;
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        // h3 {
        //     margin-top: auto;
        // }
    }
}