.prod-menu-wrap {
    padding: 0 0 46px;
    @media screen and (max-width: 992px) {
        padding: 0 0 28px;
    }
    ._h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 32px;
        @media screen and (max-width: 992px) {
            margin-bottom: 28px;
        }
    }
    .bttn-filter {
        width: 100%;
        background: #123456;
        .txt {
            text-transform: none;
        }
        svg {
            margin-left: 16px;
            path {
                stroke: none;
                
            }
        } 
    }
    .prodcat-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px 32px;
        list-style: none;
        flex-wrap: wrap;
        .menu-link {
            font-weight: 600;
        }
    }
}